/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Body Styling */
.body-home, .body-login {
    background: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.container{
    width: auto;
}

/* Background Overlay */
.black-fill {
    background:black;
    min-height: 100vh;
}

/* Navbar Styling */
#homeNav {
    background: rgba(255,255,255, 0.5) !important;
}

/* Contact Section */
#contact {
    min-height: 100vh;
}

/* About Section */
#about {
    /* CSS styles for the 'about' section */
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}


/* About Item Styling */
.about-item {
    background-color: transparent; /* Grey background */
    padding: 20px; /* Add padding inside the div */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center align content */
    margin: 10px; /* Add margin around each item for spacing */
    width: 80%; /* Set width of items */
    display: flex;
    align-items:baseline;
    align-self: center;
    flex-wrap: nowrap;
}
.about-item img {
    max-width: 20%;
    min-width: 150px;
    height: auto; /* Maintain aspect ratio */
    border-radius: 50px; /* Rounded corners for images */
    margin-bottom: 20px; /* Add some space below the image */
    display: flex;
    margin: 0 auto;
}


.text h4 {
    font-size: 30px; /* Set font size for header text */
    margin-bottom: 20px; /* Add some space below the header text */
}

.text p {
    font-size: 20px;
    margin-bottom: 5px; /* Remove bottom margin of the paragraph */
}

/* Login Section */
.login {
    max-width: 500px;
    width: 90%;
    background: rgba(255,255,255, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.login h3 {
    text-align: center;
    font-size: 50px;
}

/* Additional Width Styling */
.w-450 {
    width: 450px;
}

.n-table {
    max-width: 800px;
}

.form-w {
    max-width: 600px;
    width: 100%;
}
